spring:
    application:
      name: "ecommerce"

    datasource:
      url: ${DB_URL}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      driver-class-name: org.postgresql.Driver

    output:
      ansi:
        enabled: always

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      defer-datasource-initialization: true

    sql:
      init:
        mode: always
        encoding: UTF-8

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 30 # minutes
      refresh-expiration: 300

#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: ###
#            client-secret:


logging:
  level:
    com:
      zaxxer:
        hikari=DEBUG:

server:
  port: ${PORT:8080}